.features {
    padding-top: 60px;

    // padding-top: 94px;

    &-title {
        display: none;
    }

    // &-list {
    //     display: flex;
    //     justify-content: space-between;
    // }

    &-item {

        // width: 270px;

        // &:not(:last-child) {
        //     margin-right: 30px;
        // }

        &::before {
            height: 120px;
            // display: block;
            content: "";
            // height: 120px;
            background-position: center;
            background-repeat: no-repeat;
            background-color: $first-background;
        }
    }

    &-name {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 0;

        color: $prime-text-color;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;
    }

    &-descr {
        margin-top: 10px;
        margin-bottom: 0;

        color: $second-text-color;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
    }
}

.icon {
    &-antenna::before {
        background-image: url(../images/antenna.svg);
    }

    &-clock::before {
        background-image: url(../images/clock.svg);
    }

    &-diagram::before {
        background-image: url(../images/diagram.svg);
    }

    &-astronaut::before {
        background-image: url(../images/astronaut.svg);
    }
}