%btn {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 200px;

    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;

    border: 0;
    color: $third-text-color;
    background: $accent-color;
    box-shadow: $action-b-shadow;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        background: $hover-btn;
    }
}